<div class="flex justify-between items-baseline mb-5">
  <!--  <mat-form-field class="w-6/12">-->
  <!--    <mat-icon matPrefix>search</mat-icon>-->
  <!--    <mat-label>Filter by Product/Barcode</mat-label>-->
  <!--    <input [formControl]="searchFormControl" matInput placeholder="Ex. Product">-->
  <!--  </mat-form-field>-->

  <button (click)="handleAddNew()" color="accent" mat-flat-button>
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>

<app-table (action)="handleAction($event)" (pageEvent)="handlePageEvent($event)" [dataSource]="dataSource" [displayedColumns]="displayedColumns" [length]="length" [pageIndex]="pageIndex"
           [pageSize]="pageSize">
</app-table>
<ng-template #content>
  <form [formGroup]="form" class="flex flex-col">
    <mat-form-field appearance="fill" class="mb-2.5">
      <mat-label>Voucher</mat-label>
      <input formControlName="voucherCode" matInput oninput="this.value = this.value.toUpperCase()" placeholder="..."/>
    </mat-form-field>

    <ng-container formGroupName="truck">
      <mat-form-field appearance="fill" class="mb-2.5">
        <mat-label>Truck Reg. No</mat-label>
        <select formControlName="id" matNativeControl required>
          <option label="-- Plate No. --"></option>
          <option *ngFor="let truck of trucks" [value]="truck.id">{{truck.plateNumber}}</option>
        </select>
      </mat-form-field>
    </ng-container>

    <ng-container formGroupName="rate">
      <mat-form-field appearance="fill" class="mb-2.5">
        <mat-label>Trip Code</mat-label>
        <select formControlName="id" matNativeControl required>
          <option label="-- Trip Code --"></option>
          <option *ngFor="let rate of rates" [value]="rate.id">{{rate.rateCode}}({{rate.fromDestination}}-{{rate.toDestination}})</option>
        </select>
      </mat-form-field>
    </ng-container>

    <mat-form-field *ngIf="form.value.id" appearance="fill" class="mb-2.5">
      <mat-label>Status</mat-label>
      <select formControlName="status" matNativeControl required>
        <option label="-- Status --"></option>
        <option *ngFor="let status of statusEnum" [value]="status.name">{{status.description}}</option>
      </select>
    </mat-form-field>
  </form>
</ng-template>
